.customCellHighlight {
    color: firebrick;
}

.textIconPadding {
    padding-left: 10px;
}

.customCellHighlight2 {
    color: #2e7d32; 
    font-weight: 600;
}

.customCellHighlight3 {
    color: orange; 
    font-weight: 600;
}

.eventCodeBoxDiagnostics {
    display: inline-block;
    background-color: #2e7d32; /* verde profesional */
    color: white; /* texto en blanco para contraste */
    padding: 0.25rem 0.5rem; /* espacio interno */
    border-radius: 0.375rem; /* bordes redondeados */
    font-size: 0.875rem; /* tamaño más compacto */
    font-weight: 600; /* texto un poco más fuerte */
    text-transform: uppercase; /* opcional, para dar uniformidad */
    letter-spacing: 0.5px; /* un poco de espacio entre letras */
}

.eventCodeBoxSystemOverload {
    display: inline-block;
    background-color: #b22222; /* rojo firebrick */
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.eventCodeBoxSystemReboot {
    display: inline-block;
    background-color: #f9a825; /* amarillo oscuro */
    color: #212121; /* texto oscuro para mejor legibilidad */
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
